
.heading {
  display:block;
  width:50%;
  margin:auto;
  font-size: 45px;
  font-style: italic;
  text-align: center;
  background-color: azure;
  color:pink;
}
.current {
  font-size:30px;
  font-weight:300;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
}
.head {
  color: white;
  background-color: rgb(247, 177, 28);
  padding:1%;
  padding-left:4%;
  font-size: 40px;
  box-shadow:0 0 10px rgb(65, 63, 63, 0.6) ;
}
.footer {
  color:rgb(22, 21, 21,0.8);
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  font-size:22px;
  padding:1%;
}
.note {
  display:block;
  padding:2%;
  width:fit-content;
  border-radius:10px;
  background:white;
  margin:2%;
  box-shadow: 0 0 5px rgb(153, 151, 151,0.6);
}
.note h1 {
  font-size: 24px;
  padding:2px;
  padding-left: 0;
  /* background-color:white; */
}
.note p {
  font-size: 20px;
  /* background-color:white; */
}
.blocks {
  width:20%;
  margin:20px;
  background-color: brown;
  border-radius: 20px;
  text-align: left;
}
.top{
  border-radius: 20px 20px 0 0;
  background-color: aqua;
  height:80px;
}
.name {
  font-size: 30px;
  padding:10px;
  padding-top:20px;
  text-transform: capitalize;
}
.image {
  height:100px;
  width:100px;
  border:4px solid white;
  border-radius: 50%;
  /* float:right; */
  position:relative;
  left:160px;
  bottom:30px;
}
.bottom{
  height:120px;
  border-radius: 0 0 20px 20px;
  background-color: rgb(142, 223, 196);
  padding:20px;
  font-size:20px;
}
.bottom p {
  margin-left:-10px;
  line-height: 1.2;
}